<div class="row template-starter contact">
    <section id="jumbotron-section" class="for-page"></section>
    <section class="page-title">
        <h1>Contact</h1>
        <h3>Lorem ipsum</h3>
    </section>
    <section class="contact-wrapper">
        <div class="contact-image"></div>
        <div class="contact-info">
            <div class="contact-address">
                <h3>Come visit us!</h3>
                <address>
                    7 Hemlock Road<br/>
                    Williamsport, PA 17701
                </address>
            </div>
            <div class="contact-phone-email">
                <ul>
                    <li>
                        <a href="tel:5703232072">
                            <span class="fa fa-phone"></span>&nbsp;+1(570)323-2072
                        </a>
                    </li>
                    <li>
                        <a href="tel:5703238735">
                            <span class="fa fa-fax"></span>&nbsp;+1(570)323-8735
                        </a>
                    </li>
                    <li>
                        <a href="mailto:keystonestatecamps@hotmail.com" class="email ng-binding">
                            <span class="fa fa-envelope "></span>&nbsp;keystonestatecamps@hotmail.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="contact-map" id="map"></section>
    <script>
        function initMap() {
            var uluru = {lat: 41.2524651, lng: -77.0821334};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-baPjf7nFKYUs7KAo5F3sz2arvFULx8E&callback=initMap">
    </script>
</div>