<h3>COST PER PLAYER</h3>
<section class="bordered-section">
    <p class="red-title">If paid in full by January 1st </p>
    <ul>
        <li>The talent &amp; skills camp price is $0 if paid before  January 1st
            *The commuter price (not staying in the dorm) is $0 if paid before  January 1st</li>
        <li>The Edinboro girls talent &amp; skills camp price is $0 if paid before  January 1st
            *The commuter price (not staying in the dorm) is $0 if paid before  January 1st</li>
    </ul>
    <p class="red-title">After  January 1st</p>
    <ul>
        <li>The talent &amp; skills camp price is $0
            The commuter price (not staying in the dorm) is $0 if paid after  January 1st</li>
        <li>The Edinboro girls talent &amp; skills camp price is $0
            The commuter price (not staying in the dorm) is $0 if paid after  January 1st <br>
            <small>(No checks after June 1- only money orders, cash, &amp; cashier's checks accepted)</small></li>
    </ul>
</section>
<table class="table table-bordered" id="table-display left-aligned-titles">
    <tbody>
    <tr>
        <th>NECCESSARY ITEMS</th>
    </tr>
    <tr>
        <td><ul>
            <li>Basketball shoes, socks, shorts, &amp; shirts</li>
            <li>Swimsuit, sweatshirt, rain jacket </li>
            <li> Modest amount of spending money for sports drinks, pizza, etc. and $35 cash deposit </li>
            <li>Single bed sheets, pillow and pillow case, lightweight blanket, 2 towels </li>
            <li>Toiletries (toothbrush, toothpaste, soap, shampoo, etc) </li>
            <li>Alarm clock </li>
            <li> Gym bag or backpack</li>
        </ul></td>
    </tr>
    </tbody>
</table>