<section id="jumbotron-section" class="row">
    <div class="col-md-12 text-center">
        <section>
            <figure class="featured-image">
                <img src="images/play-keystone.png" alt="Play Keystone Basketball!">
            </figure>
            <!--<section id="play-keystone" class="center-block"></section>-->
            <h3 id="subtitle">The #1 Ranked Basketball Camp and Shootouts!</h3>
            <div id="jumbotron-btn-group" class="btn-group" role="group" aria-label="..."> <a type="button" class="btn btn-default">Sign up</a> <a type="button" class="btn btn-default">Learn more</a> </div>
        </section>
    </div>
</section>
<section id="welcome" class="row">
    <div class="flex-container">
        <div id="welcome-content">
            <h1>Welcome</h1>
            <p>to Keystone State Basketball Camps</p>
            <p>is et consectetur enim tincidunt. Etiam maximus condimentum egestas. Nullam posuere faucibus sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nullam posuere faucibus sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Etiam maximus condimentum egestas. Nullam posuere faucibus sag</p>
        </div>
        <div id="welcome-bg"></div>
    </div>
</section>