<main id="page-content">
    <div class="container" id="wrapper">
        <!--header-->
        <header id="nav" class="row">
            <nav class="navbar navbar-default navbar-static-top" id="top-navbar">
                <div class="navbar-header"> <a class="navbar-brand" href="#">
                        <img class="hidden-xs hidden-sm visible-md visible-lg" alt="Brand" src="images/logo.png">
                        <img class="hidden-lg hidden-xs hidden-md visible-sm " alt="Brand" src="images/logo-md.png">
                        <img class="hidden-lg hidden-md visible-xs" alt="Brand" src="images/logo-sm.png">
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="menu"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Camps</a></li>
                        <li><a href="#">Shootouts</a></li>
                        <li><a href="#">Notable Alumni</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--end of header-->
        <section id="jumbotron-section" class="row">
            <div class="col-md-12 text-center">
                <section>
                    <figure class="featured-image">
                        <img src="images/play-keystone.png" alt="Play Keystone Basketball!">
                    </figure>
                    <!--<section id="play-keystone" class="center-block"></section>-->
                    <h3 id="subtitle">The #1 Ranked Basketball Camp and Shootouts!</h3>
                    <div id="jumbotron-btn-group" class="btn-group" role="group" aria-label="..."> <a type="button" class="btn btn-default">Sign up</a> <a type="button" class="btn btn-default">Learn more</a> </div>
                </section>
            </div>
        </section>
        <section id="welcome" class="row">
            <div class="flex-container">
                <div id="welcome-content">
                    <h1>Welcome</h1>
                    <p>to Keystone State Basketball Camps</p>
                    <p>is et consectetur enim tincidunt. Etiam maximus condimentum egestas. Nullam posuere faucibus sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam posuere faucibus sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Etiam maximus condimentum egestas. Nullam posuere faucibus sag</p>
                </div>
                <div id="welcome-bg"></div>
            </div>
        </section>
        <section id="camps">
            <h2>CAMPS</h2>
            <div id="camps-content">
                <div>
                    <div class="camps-block">
                        <h1>All Camps</h1>
                        <p>skills camps, talent camps, and team camps</p>
                    </div>
                    <div class="camps-link">view</div>
                </div>
                <div>
                    <div class="camps-block">
                        <h1>All Camps</h1>
                        <p>skills camps, talent camps, and team camps</p>
                    </div>
                    <div class="camps-link">view</div>
                </div>
                <div>
                    <div class="camps-block">
                        <h1>All Camps</h1>
                        <p>skills camps, talent camps, and team camps</p>
                    </div>
                    <div class="camps-link">view</div>
                </div>
            </div>
        </section>
        <section id="display">
            <div id=""></div>
        </section>
        <section id="notable-alumni">
            <h1>Notable Alumni</h1>
            <div></div>
        </section>
    </div>
</main>
<footer>
    <div class="container">
        <section class="row" id="footer-section">
            <div class="col-xs-12">
                <section id="blog">
                    <h3>blog</h3>
                    <div>
                        <div class="blog-content">
                            <h2>GAME 4 LANDS GOLDEN STATE WARRIORS BACK IN PLAY</h2>
                            <p>Golden State Warrior scored 97-67 on...</p>
                        </div>
                    </div>
                    <div>
                        <div class="blog-content">
                            <h2>GAME 4 LANDS GOLDEN STATE WARRIORS BACK IN PLAY</h2>
                            <p>Golden State Warrior scored 97-67 on...</p>
                        </div>
                    </div>
                </section>
                <section>
                    <a href="#">view more</a>
                    <span class="horizontal-line"></span>
                    <div class="printable-application">printable applications</div>
                </section>
            </div>
            <!--footer-sub-->
            <div id="footer-sub" class="col-xs-12 text-center visible-xs visible-sm">
                <p id="phone" class="col-xs-12"><span class="fa fa-phone fa-lg footer-contact"></span> +1 731 555 5555</p>
                <a id="email" class="col-xs-12" href="mailto:keystonestatecamps@hotmail.com"><span class="fa fa-envelope fa-lg footer-contact"></span> keystonestatecamps@hotmail.com</a>
                <div class="col-xs-12 col-sm-offset-3">
                    <ul class="nav navbar-nav ">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">SITEMAP</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">PRIVACY POLICY</a></li>
                    </ul>
                </div>
                <p class="col-xs-12 col-sm-12 col-lg-12">© 2015 Keystone State Basketball Camp ALL RIGHTS RESERVED</p>
                <section class="col-xs-12" id="fb-yt">
                    <a href="#" class=""><span class="social-sprite" id="facebook">&nbsp;</span></a>
                    <a href="#" class=""><span class="social-sprite" id="youtube">&nbsp;</span></a>
                </section>
                <div class="col-xs-12">
                    <p style="display: inline-block;">Developed by</p>
                    <div style="width: 125px; height: 20px; background-color: #888; display: inline-block;"></div>
                </div>
            </div>
            <div id="footer-sub" class="col-md-12 hidden-xs hidden-sm">
                <section class="col-md-12" id="sub-1">
                    <section id="footer-links" class="col-sm-12 col-md-6">
                        <ul class="nav navbar-nav pull-left">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">SITEMAP</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">PRIVACY POLICY</a></li>
                        </ul>
                    </section>
                    <section id="email-phone" class="col-sm-12 col-md-6">
                        <ul class="list-inline pull-right" id="footer-contact-1">
                            <li><span class="fa fa-phone fa-lg footer-contact"></span> +1 731 555 5555</li>
                            <li><span class="fa fa-envelope fa-lg footer-contact"></span><a id="email" href="mailto:keystonestatecamps@hotmail.com"> keystonestatecamps@hotmail.com</a> </li>
                        </ul>
                    </section>
                </section>
                <section class="col-md-12" id="sub-2">
                    <p class="col-md-5 pull-left"> © 2015 Keystone State Basketball Camp ALL RIGHTS RESERVED</p>
                    <section class="col-md-2" id="fb-yt">
                        <a href="#" class=""><span class="social-sprite" id="facebook">&nbsp;</span></a>
                        <a href="#" class=""><span class="social-sprite" id="youtube">&nbsp;</span></a>
                    </section>

                    <div id="development" class="col-md-5 text-center">
                        <p style="display: inline-block;">Developed by</p>
                        <div style="width: 125px; height: 20px; background-color: #888; display: inline-block;"></div>
                    </div>
                </section>


            </div>
            <!--end footer-sub-->
        </section>
    </div>
</footer>



