/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Aclonica|Advent+Pro:700|Source+Sans+Pro:300,400,600');

@font-face {
  font-family: calibri;
  src: url(../fonts/calibri.ttf);
}

@font-face {
  font-family: calibri;
  src: url(../fonts/calibrib.ttf);
  font-weight: bold;
}
@font-face {
  font-family: kalinga;
  src: url(../fonts/kalinga.ttf);
}
@font-face {
  font-family: kalingab;
  src: url(../fonts/kalingab.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Kalingab;
  src: url(../fonts/kalingab.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Lobster Two";
  src: url(../fonts/LobsterTwo-BoldItalic.ttf);
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
body {
  font-size: 18px;
  background: url(../images/texture_grain_200x200_v2.png) repeat top left;
  font-family: calibri, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #999;
}

div#wrapper {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.35);
}

/*HEADER*/

.navbar-default {
  background-color: #c34042;
  border-color: #a94442;
  font-family: kalinga, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: #FFF;
  padding: 0 1.389em;
}

/*HEADER - BRAND*/
.navbar-brand {
  padding: 0;
  position:absolute;
}

ul.nav.navbar-nav.navbar-right {
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  margin-top: 65px;
  margin-bottom: 35px;
}

/*HEADER - NAV FROM 771PX AND UP*/
.navbar-default .navbar-nav>li>a {
  color: #FFF;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 7px;
  padding-right: 10px;
  border-bottom: 3px solid transparent;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #FFF;
  border-bottom: 3px solid #FFF;
}

.navbar-right {
  margin-right: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFF;
  background-color: transparent;
}

/*JUMBOTRON SECTION*/

section#jumbotron-section {
  background: url(../images/bg-jumbotron.png) no-repeat top center;
  background-size: cover;
}

section#jumbotron-section.row {
  padding-top: 5.625em;
  padding-bottom: 5.625em;
}

h3#subtitle {
  color: #ccc;
  text-shadow: .5px .866px 1px rgba(0,0,0,0.208);
  font-size: 36px;
  font-family: "Lobster Two";
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 0em;
}

/*JUMBOTRON - Sign up and Cancel Button*/
#jumbotron-btn-group a.btn.btn-default {
  background-color: #C34042;
  border-radius: 0;
  font: 0.813em kalinga;
  color: #FFF;
  border-left: none;
  border-right: none;
  padding: 0.938em 0.938em 0.8em 0.938em;
  border: none;
  border-bottom: 3px solid transparent;
}

#jumbotron-btn-group {
  margin: 1.5em 0 0 0;
  border-bottom: 1px solid #FFF;
  background-color: #C34042;
  border-top: 1px solid #FFF;
}

#jumbotron-btn-group a.btn.btn-default:hover {
  border-bottom: 3px solid #FFF;
}

/*---cut from below (misc.css)----*/

/*FOOTER SECTION*/
section#footer-section {
  border-top: 10px solid #245b70;
  background-color: #2880a1;
}

#footer-section>div>p.h2 {
  color: #245b70;
}

div#footer-sub {
  background: #1f617a;
  color: #1a4250;
  font-size: 0.850em;
}

/*--new-*/
#sub-1 {
  display: flex;
  justify-content: space-between;
}

#footer-links>ul>li>a:hover, #footer-links>ul>li>a:focus {
  color: #2b84a7;
  text-decoration: none;
  border-radius: 10px;
  background: #245b70;
}

.navbar-nav>li>a {
  padding: 10px 15px;
  margin-top: 5px;
}

#footer-links ul li a{
  text-transform: uppercase;
  font-weight: bold;
}
#footer-links ul li, #email-phone ul li {
  list-style: none;
}

ul#footer-contact-1 {
  display: flex;
  padding-left: 0;
}

#footer-contact-1 li p, #footer-contact-1 li a {
  margin: 0;
  padding: 14px 5px;
}

#footer-contact-1 li a{
  display: inline-block;
  font-weight: bold;
  font-size: 15.3px;
}

.social-sprite {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(../images/social-sprite.png) no-repeat;
  background-position: left top;
}

span#youtube {
  background-position: -30px top;
}

span.footer-contact {
  color: #ba4547;
}

#development {
}

#development p {
  color: #fff;
}

a.email:hover {
  color: #0f303d;
}
a.email {
  color: #1B4454;
  text-decoration: none;
}

p#phone {
  padding-top: 15px;
}

/**--new--**/
section#sub-2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #2b87aa;
  padding-top: 5px;
}

#sub-2>p {
  padding: 10px 25px 0;
  display: flex;
  align-items: center;
}
#fb-yt{
  padding-top: 12px;
}

#development {
  display: flex;
  justify-content: center;
  width: 400px;
}

#development p {
  color: #fff;
}

span#idtosignature {
  font-family: 'Advent Pro', sans-serif;
  color: white;
  font-size: 30px;
  position: relative;
  top: 2px;
}

span#idtosignature::after{
  content: "|";
  color: #427a9a;
  font-family: serif;
  font-weight: bold;
}
/*Medium devices (desktops, 992px and up)*/
@media (max-width: 991px) and (min-width: 0px){

  .col-md-12{
    padding: 0 10px;
  }
  #footer-links>ul>li>a {
    padding: 10px;
  }

  #footer-contact-1 li p, #footer-contact-1 li a {
    margin: 0;
    padding: 13.5px 5px;
  }

  section#sub-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #fb-yt {
    order: 1;
    padding-top: 20px;
  }
  #sub-2>p {
    margin-bottom: 0;
    font-size: 16.4px;
    font-weight: bold;
    order: 2;
  }

  #development{
    order: 3;
  }

}

@media (max-width: 769px) and (min-width: 0px){
  .navbar-collapse {
    box-shadow: none;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    border-bottom: none;
  }
  .navbar-default .navbar-nav>li>a {
    border-bottom: none;
    border-bottom: none;
  }

  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #f66;
    background-color: transparent;
    border-bottom: none;
  }
  ul.nav.navbar-nav.navbar-right {
    border-bottom: none;
    border-top: 1px solid #b94042;
    margin-top: 65px;
    margin-bottom: 0;
  }

  #sub-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  #sub-1 .navbar-nav {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
  }

  section#footer-links ul {
    display: flex;
  }

  #footer-links>ul>li>a {
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
  }

  section#email-phone {
    padding-top: 10px;
  }

  #footer-contact-1 li p, #footer-contact-1 li a {
    margin: 0;
    padding: 0px 5px 20px;
    font-weight: bold;
    font-size: 17px;
  }

}